<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href="/">
       <div class="wrapper">
          <div class="typing-demo">Baonks81</div>
       </div>
    </a>

    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default:default_paths -%}

    {%- if page_paths -%}


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto py-4 py-lg-0">

        {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}

              <li class="nav-item{% if page.url == my_page.url %} active {% endif %}">
                <a class="nav-link px-lg-3 py-3 py-lg-4" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              </li>

            {%- endif -%}
        {%- endfor -%}

      </ul>
    </div>
  </div>

{% endif %}

</nav>
