<header class="masthead" style="background-image: url({{ 'assets/images/post-bg.jpg' | relative_url }})">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="site-heading">
           <h1>{{ page.title }}</h1>
           <p>
             {{ page.date | date_to_string }}
             {% assign category = site.categories | where: 'short_name', page.category | first %}
             {% if category %}
               - <a href="{{ category.url }}"">{{ category.name }}</a>
             {% endif %}
           </p>
        </div>
      </div>
    </div>
  </div>
</header>
