---
layout: about
---

<h1>{{ page.name }}</h1>
<h2>{{ page.open_source }}</h2>

{{ content }}

<div class="card">
  <div class="card-header">
    <h2>Related Posts:</h2>
  </div>
  <ul class="list-group list-group-flush">
     {% assign filtered_posts = site.posts | where: 'category', page.short_name %}
     {% for post in filtered_posts %}
          <li class="list-group-item">
             <div class="box">
                <a href="{{ post.url }}">
                   <i class="fa-solid fa-caret-right"></i> {{ post.title }}
                </a>
             </div>
          </li>
     {% endfor %}
  </ul>
</div>
