<!DOCTYPE html>
<html>
  
  <!-- Head -->
  {%- include head.html -%}
  <body>

    <!-- Navigation -->
    {%- include navigation.html -%}

    <!-- Post Header -->
    {%- include postheader.html -%}

    <main id="main" role="main" class="container">

      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            
            <!-- Return to Top -->
            <a href="javascript:" id="return-to-top"><i class="fa fa-angle-double-up fa-stack-1x fa-inverse up-arrow"></i></a>

            {{ content }}

            <script>
                    // ===== Scroll to Top ==== 
               $(window).scroll(function() {
                    if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
                        $('#return-to-top').fadeIn(200);    // Fade in the arrow
                    } else {
                       $('#return-to-top').fadeOut(200);   // Else fade out the arrow
                    }
               });
               $('#return-to-top').click(function() {      // When arrow is clicked
                    $('body,html').animate({
                    scrollTop : 0                       // Scroll to top of body
               }, 500);
               });
            </script>

          </div>
        </div>
      </div>

    </main>

    <!-- Footer -->
    {%- include footer.html -%}

  </body>
</html>
