<!DOCTYPE html>
<html>
  
  <!-- Head -->
  {%- include head.html -%}
  <body>

    <!-- Navigation -->
    {%- include navigation.html -%}

    <!-- Post Header -->
    {%- include postheader.html -%}

    <!-- main id="main" role="main" class="container">

      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7" -->
            
     <div class="container-fluid">
        <div class="row row-12 row-xs-auto row-sm-auto row-md-auto row-lg-auto row-xl-auto row-xxl-auto">
           <div class="col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">

              {{ content }}
            
              <br />&nbsp;
            
           </div>
           <div class="col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
              <!-- hr class="my-4" / -->
            
              <!-- Recent Posts -->
              {% include recent.html %}

           </div>
        </div>
     </div>

          <!-- /div>
        </div>
      </div>

    </main -->

    {% include top.html %}
    
    <!-- Footer -->
    {%- include footer.html -%}

  </body>
</html>
