<!DOCTYPE html>
<html>
  
  <!-- Head -->
  {%- include head.html -%}
  <body>

    <!-- Navigation -->
    {%- include navigation.html -%}

    <!-- Post Header -->
    {%- include postheader.html -%}

    <!-- main id="main" role="main" class="container">

      <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7" -->
            
     <div class="container-fluid">
        <div class="row row-cols-md-2">
           <div class="col-lg-8 border-end">

              {{ content }}
            
              <br />&nbsp;
            
           </div>
           <div class="col-lg-4 border-start">
              <!-- hr class="my-4" / -->
            
              <!-- Recent Posts -->
              {% include recent.html %}

           </div>
        </div>
     </div>

          <!-- /div>
        </div>
      </div>

    </main -->
    
    <br />&nbsp;
    
    {% include top.html %}
    
    <!-- Footer -->
    {%- include footer.html -%}

  </body>
</html>
